.gourvernante {
    background-color: white;
    color: black;
    margin-top: 15px;
}

.gourvernante__header {
    display: flex;
    list-style-type: none;
    border: 1px solid rgba(0, 0, 0, .6);
}

.gourvernante__header li {
    width: calc(100% / 7);
    border-right: 1px solid rgba(0, 0, 0, .6);
    padding: 5px;
    background-color: wheat;
}

.gourvernante__fiches {
    display: flex;
    flex-direction: column;
}

.gourvernante__fiches li {
    display: flex;
}

.gourvernante__fiches li p {
    width: calc(100% / 7);
    border: 1px solid rgba(0, 0, 0, .6);
    padding: 5px;
}

.checksIn {
    background-color: #f2a3a3;
}

.surPlace {
    background-color: white;
}

.btn-capture {
    margin-top: 15px;
}

.gourvernante h2 {
    padding: 10px;
    background-color: black;
    color: white;
}