@media screen and (max-width: 1529px) {
    body #root {
        padding: 20px 10px;
    }

    body .agendaContent__body__left {
        width: 152px;
    }
}

@media screen and (max-width: 1065px) {
    body #root {
        padding: 20px 10px;
    }

    body .agendaContent__body__left {
        width: 152px;
    }

    body aside {
        width: 58px;
    }

    body main {
        width: 100%;
    }

    html body .agendaContent {
        width: 100%;
    }

    html body .agenda {
        width: 100%;
    }

    body .agenda {
        width: 100%;
    }

    body .asside__top ul li p {
        display: none;
    }

    body .aside__bottom ul li p {
        display: none;
    }

    body .dayFiche ul li {
        font-size: 10px;
        padding: 13px 0px;
    }

    body .asside__top__logoContainer__left {
        padding: 23px 0px 11px 11px;
    }

    body .asside__top__logoContainer p {
        display: none;
    }
}


@media screen and (max-width: 800px) {

    body .agendaContent__body {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 600px) {

    body .dayAll {
        display: none;
    }

    body .dayMini {
        display: flex;
    }

    html body .dayFiche--title p:last-child {
        font-size: 12px;
        width: 20px;
        height: 20px;
    }

    body .agendaContent {
        padding: 0px;
    }

    body #root {
        margin: 0px;
        padding: 0px;
    }

    .header__left {
        display: none;
    }

    body .header__right__alerts {
        display: none;
    }

    body .agenda__viewSelection__viewContainer li i {
        display: none;
    }

    body .agendaContent__header {
        width: 90%;
    }

    body .agenda__viewSelection {
        border-radius: 0px;
    }

    body .agendaContent {
        border-radius: 0px;
    }

    html body .dayFiche {
        width: 12.2%;
    }

    html body main {
        width: 100%;
    }

    html .modalContent {
        width: 90%;
        border-radius: 0;
    }

    html .modal {
        justify-content: flex-start;
    }
}